<div class="date-picker">
  <button
    mat-stroked-button
    color="primary"
    class="date-picker-today"
    (click)="setToday()"
  >
    Today
  </button>
  <mat-button-toggle-group
    mat-stroked-button
    color="primary"
    class="date-picker-today"
    (change)="selectDaterange($event.value)"
  >
    <mat-button-toggle value="day" [checked]="true">Day</mat-button-toggle>
    <mat-button-toggle value="week">Week</mat-button-toggle>
    <mat-button-toggle value="month">Month</mat-button-toggle>
  </mat-button-toggle-group>
  <button
    mat-stroked-button
    color="primary"
    class="date-picker-previous-month"
    (click)="previousMonth()"
  >
    <mat-icon class="fa-solid fa-chevron-left"></mat-icon>
  </button>
  <button
    mat-stroked-button
    color="primary"
    class="date-picker-next-month"
    (click)="nextMonth()"
  >
    <mat-icon class="fa-solid fa-chevron-right"></mat-icon>
  </button>
  <div *ngIf="this.selectedCalendarView === 'week'">
    <app-date-picker-week-day-range
      (dateChanged)="dateRangeChanged($event)"
      [setDate]="dateRange[0]"
    ></app-date-picker-week-day-range>
  </div>
  <div *ngIf="this.selectedCalendarView === 'day'">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="date"
        (dateChange)="dateChanged()"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker [startView]="calendarView"></mat-datepicker>
    </mat-form-field>
  </div>
  <div *ngIf="this.selectedCalendarView === 'month'">
    <app-date-picker-month-range
      (dateChange)="dateRangeChanged($event)"
    ></app-date-picker-month-range>
  </div>
</div>
