<form [formGroup]="actionForm" (ngSubmit)="onSubmit()" class="form">
  <label for="Mother">Mother:</label>
  <input
    matInput
    id="Mother"
    type="text"
    formControlName="Mother"
    required
    [readonly]="true"
  />
  <label for="Father">Father:</label>
  <input
    matInput
    id="Father"
    type="text"
    formControlName="Father"
    required
    [readonly]="true"
  />
  <label for="Action">Action:</label>
  <mat-select
    name="Action"
    id="Action"
    matNativeControl
    required
    formControlName="Action"
    color="warn"
  >
    <mat-option value="Feeding">Feeding</mat-option>
    <mat-option value="Shitting">Shitting</mat-option>
    <mat-option value="Other">Other</mat-option>
  </mat-select>
  <label for="Time">Time:</label>
  <input
    matInput
    id="Time"
    type="datetime-local"
    formControlName="Time"
    required
  />
  <label for="Quantity">Quantity:</label>
  <input
    matInput
    id="Quantity"
    type="number"
    formControlName="Quantity"
    required
  />
  <div *ngIf="this.actionForm.invalid" class="alert alert-danger">
    <div>Form is incomplete, complete form to submit!</div>
  </div>
  <button mat-raised-button color="primary" (onClick)="onSubmit()">
    submit event
  </button>
</form>
