<form [formGroup]="activityForm" (ngSubmit)="onSubmit()" class="form">
  <label for="Type">Type:</label>
  <mat-select
    name="Type"
    id="Type"
    matNativeControl
    required
    formControlName="Type"
    color="warn"
  >
    <mat-option value="Feeding">Feeding</mat-option>
    <mat-option value="Poop">Poop</mat-option>
    <mat-option value="Other">Other</mat-option>
  </mat-select>
  <label for="Type">Icon:</label>
  <mat-select
    name="Icon"
    id="Icon"
    matNativeControl
    required
    formControlName="Icon"
    color="warn"
  >
    <mat-option value="Breastfeeding">Breastfeeding</mat-option>
    <mat-option value="Poop">Poop</mat-option>
    <mat-option value="Other">Other</mat-option>
  </mat-select>
  <label for="Time">Time:</label>
  <input
    matInput
    id="Time"
    type="datetime-local"
    formControlName="Time"
    required
  />
  <label for="Quantity">Quantity:</label>
  <input
    matInput
    id="Quantity"
    type="number"
    formControlName="Quantity"
    required
  />
  <div *ngIf="this.activityForm.invalid" class="alert alert-danger">
    <div>Form is incomplete, complete form to submit!</div>
  </div>
  <button mat-raised-button color="primary" (onClick)="onSubmit()">
    submit event
  </button>
</form>
