<form [formGroup]="actionForm" (ngSubmit)="onSubmit()" class="form">
  <div *ngIf="this.actionForm.invalid" class="alert alert-danger">
    <div>Form is incomplete</div>
  </div>
  <label for="Mother">Mother:</label>
  <input id="Mother" type="text" formControlName="Mother" required />
  <label for="Father">Father:</label>
  <input id="Father" type="text" formControlName="Father" required />
  <label for="Time">Time:</label>
  <input
    matInput
    id="Time"
    type="datetime-local"
    formControlName="Time"
    required
  />
  <label for="Quantity">Quantity:</label>
  <input id="Quantity" type="number" formControlName="Quantity" required />
  <button mat-raised-button color="primary" (onClick)="onSubmit()">
    submit event
  </button>
</form>
