@import "../styles/styles.scss";
.content {
  display: grid;
  margin-top: 141px;
  margin-left: 9px;
  width: 99%;
}
.content-loading {
  padding-top: 20%;
  margin-left: 50%;
  align-self: center;
}
