.top-nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 133px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 16px;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
    background-color: #2b4f72;
}
    .top-nav-bar-left-content {
        display: flex;
        justify-content: space-between;
        width: 300px;
        align-items: center;
    }
        .top-nav-bar-left-content-home-button-logo {
            width: 200px;
            border-radius: 18px;
            margin-right:10px ;
        }
        .top-nav-bar-left-content-calendar {
            color: white;
        }
        .top-nav-bar-left-content-action {
            color: white;
        }
    .top-nav-bar-right-content {
        display: grid;
        position: fixed;
        right: 0;
        text-align: end;
        padding-right: 20px;
        color: white;
    }