<div class="top-nav-bar">
  <div class="top-nav-bar-left-content">
    <div class="top-nav-bar-left-content-home">
      <button
        class="top-nav-bar-left-content-home-button"
        color="primary"
        mat-button
        aria-label="home page"
        routerLink=""
      >
        <img
          class="top-nav-bar-left-content-home-button-logo"
          [src]="logoPath"
        />
      </button>
    </div>
    <div class="top-nav-bar-left-content-calendar" *ngIf="this.user">
      <button routerLink="calendar" mat-button aria-label="calendar page">
        <div class="top-nav-bar-left-content-calendar-text">Calendar</div>
      </button>
    </div>
    <div class="top-nav-bar-left-content-action" *ngIf="this.user">
      <button routerLink="action-form" mat-button aria-label="action-form page">
        <div class="top-nav-bar-left-content-action-text">Report event</div>
      </button>
    </div>
  </div>
  <div class="top-nav-bar-right-content">
    <div class="top-nav-bar-left-content-mother" *ngIf="this.user?.Parents?.['Mother']">
      <h2>Mother: {{ this.user?.Parents?.['Mother'] }}</h2>
    </div>
    <div class="top-nav-bar-left-content-father" *ngIf="this.user?.Parents?.['Father']">
      <h2>Father: {{ this.user?.Parents?.['Father'] }}</h2>
    </div>
  </div>
</div>
