<div class="top-nav-bar">
  <div class="top-nav-bar-left-content">
    <div class="top-nav-bar-left-content-home">
      <button
        class="top-nav-bar-left-content-home-button"
        color="primary"
        mat-button
        aria-label="home page"
        routerLink=""
      >
        <img
          class="top-nav-bar-left-content-home-button-logo"
          [src]="logoPath"
        />
      </button>
    </div>
    <div class="top-nav-bar-left-content-calendar" *ngIf="this.user">
      <button routerLink="calendar" mat-button aria-label="calendar page">
        <div class="top-nav-bar-left-content-calendar-text">Calendar</div>
      </button>
    </div>
    <div class="top-nav-bar-left-content-action" *ngIf="this.user">
      <button routerLink="action-form" mat-button aria-label="action-form page">
        <div class="top-nav-bar-left-content-action-text">Report event</div>
      </button>
    </div>
  </div>
  <div class="top-nav-bar-right-content">
    <div
      class="top-nav-bar-right-content-text"
      *ngIf="this.user?.Parents?.['Mother']"
    >
      Mother: {{ this.user?.Parents?.['Mother'] }}
    </div>
    <div
      class="top-nav-bar-right-content-text"
      *ngIf="this.user?.Parents?.['Father']"
    >
      Father: {{ this.user?.Parents?.['Father'] }}
    </div>
    <div class="top-nav-bar-right-content-logout" *ngIf="this.user">
      <button (click)="logout()" mat-raised-button>
        Logout <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</div>
