<div class="top-nav-bar">
  <div class="top-nav-bar-left-content">
    <div class="top-nav-bar-left-content-home">
      <button
        class="top-nav-bar-left-content-home-button"
        color="primary"
        mat-button
        aria-label="home page"
        routerLink=""
      >
        <img
          class="top-nav-bar-left-content-home-button-logo"
          [src]="logoPath"
        />
      </button>
    </div>
    <div class="top-nav-bar-left-content-calendar">
      <button routerLink="calendar" mat-button aria-label="calendar page">
        Calendar
      </button>
    </div>
    <div class="top-nav-bar-left-content-action">
      <button routerLink="action-form" mat-button aria-label="action-form page">
        Report event
      </button>
    </div>
  </div>
  <div class="top-nav-bar-right-content">
    <div class="top-nav-bar-left-content-mother">
      <h1>Mother: {{ this.user?.Mother }}</h1>
    </div>
    <div class="top-nav-bar-left-content-father">
      <h1>Father: {{ this.user?.Father }}</h1>
    </div>
  </div>
</div>
