<div class="calendar-view">
  <ng-container *ngIf="loading; else notLoading">
    <div class="calendar-view-loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <<ng-template #notLoading>
    <div class="calendar-view-datepicker">
      <app-date-picker
        (dateChange)="dateChanged($event)"
        (daterangeChange)="daterangeChanged($event)"
      ></app-date-picker>
    </div>
    <div class="calendar-view-content">
      <div class="calendar-view-content-text">
        {{ displayedDate | date : "MMMM" }}
      </div>
      <app-month
        [activities]="this.groupedActivities"
        [date]="displayedDate"
      ></app-month>
    </div>
  </ng-template>
</div>
